.background
{
    position: absolute;
    top: 50%;
    left: 50%;
    background-position: center center;
    margin: 0 auto;
}

/*@media screen and (min-width:1400px) {
.background
{
    background-image: url("../images/background-image-1600.jpg");
    width: 1600px;
    height: 1200px;
    margin-left: -800px;
    margin-top: -600px;
}
}

@media screen and (max-width: 1399px) 
{
.background
{
    background-image: url("../images/background-image.jpg");
    width: 1400px;
    height: 1050px;
    margin-left: -700px;
    margin-top: -525px;
}
}*/

.background
{
    background-image: url("../images/background-image.jpg");
    width: 1400px;
    height: 1050px;
    margin-left: -700px;
    margin-top: -525px;
}

.profile
{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: none;
}

.profile-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #12111f;
    opacity:0.90;
    filter: alpha(opacity=90);
    -moz-opacity:0.90;
    -webkit-box-shadow: 0 1px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 30px rgba(0,0,0,0.75);
    box-shadow: 0 1px 30px rgba(0,0,0,0.75);
}

.profile-contents
{
    position: absolute;
    margin: 1em 2em;
}

.profile-header
{
    color: #ffffff;
    line-height: 3em;
}

.profile-datalist
{
    color: #ffffff;
    line-height: 2.5em;
}
.profile-datalist dt
{
    float: left;
    width: 6.25em;
}
.profile-datalist dd
{
    margin-left: 7em;
}

.profile-footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    /*background-color: #1f2231;*/
}